{
  "env": {
    "browser": true
  },
  "extends": [
    "standard",
    "standard-jsx",
    "prettier",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "react", "react-hooks", "prettier"],
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "overrides": [
    {
      "files": [
        "**/test.tsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
